[project]
name = "blog"
version = "0.1.0"
description = "Portfolio de Pierre-Etienne"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "mkdocs>=1.6.1",
    "mkdocs-material>=9.7.1",
    "mkdocs-rss-plugin>=1.17.7",
]
